<div id="<%= dom_id employee %>">
  <p>
    <strong><%= Employee.human_attribute_name(:name) %>:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong><%= Employee.human_attribute_name(:email) %>:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong><%= Employee.human_attribute_name(:kind) %>:</strong>
    <%= employee.kind %>
  </p>

  <p>
    <strong><%= Employee.human_attribute_name(:status) %>:</strong>
    <%= employee.status %>
  </p>


  <% if action_name != "show" %>
    <%= link_to t("actions.employee.show"), employee, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to t("actions.employee.edit"), edit_employee_path(employee), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
