<%= form_with(model: employee, class: "contents") do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
      <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :kind %>
    <%= form.select :kind, Employee.kinds.keys.map{ |v| [v.humanize, v] } %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.select :status, Employee.statuses.keys.map{ |v| [v.humanize, v] } %>
  </div>


  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>


  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
    
  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
