<div>
  <div>
    <% if notice.present? %>
      <p id="notice"><%= notice %></p>
    <% end %>

    <%= render @employee %>

    <%= link_to t("actions.employee.edit"), edit_employee_path(@employee) %>
    <%= link_to @employee.status, toggle_employee_path(@employee) %>
    <%= link_to t("actions.employee.back"), employees_path %>
  </div>
</div>
