<div id="<%= dom_id order %>">
  <p>
    <strong><%= Employee.model_name.human %>:</strong>
    <%= order.employee.name %>
  </p>

  <p>
    <strong><%= Order.human_attribute_name(:client_name) %>:</strong>
    <%= order.client_name %>
  </p>

  <p>
    <strong><%= Order.human_attribute_name(:table_number) %>:</strong>
    <%= order.table_number %>
  </p>

  <div>
    <strong><%= OrderProduct.model_name.human(count:2) %>:</strong>
    <% order.order_products.each do |item| %>
      <p><%= item.product_name %> - <%= t("texts.order_product.qty")%>: <%= item.quantity %> - <%= t("texts.order_product.unit_value")%>: <%= number_to_currency item.product_price %> - <%= t("texts.order_product.total")%>: <%= number_to_currency (item.quantity*item.product_price) %></p>
    <% end %>
  </div>

  <% if action_name != "show" %>
    <%= link_to t('actions.order.show'), order %>
    <%= link_to t('actions.order.edit'), edit_order_path(order) %>
    <%= link_to t('actions.order.delete'),order_path(order), method: :delete %>
    <hr>
  <% end %>
</div>
