<div id="<%= dom_id order %>">

  <%# CARD PEDIDO %>
  <div class="card mt-2 mb-4">

    <%# CARD HEADER %>
    <div class="bg-red rounded-top text-white">
      <h5 class="card-header d-flex align-items-center">
        <strong><%= Order.human_attribute_name(:table_number) %>:</strong>
        <strong><%= order.table_number %></strong>
      </h5>
    </div>

    <%# CARD BODY %>
    <div class="card-body bg-light">
      <%# IDENTIFICAÇÃO PEDIDO %>
      <div class="d-flex flex-column flex-md-row mb-2
        justify-content-around align-items-center">
        <h6>
          <strong><%= Employee.model_name.human %>:</strong>
          <%= order.employee.name %>
        </h6>

        <h6>
          <strong><%= Order.human_attribute_name(:client_name) %>:</strong>
          <%= order.client_name %>
        </h6>
      </div>

      <%# CARD ITEM %>
      <div class="card">
        <div class="row g-0">
          <div class="col-md-12">
            <div class="card-body">
              <%# titulo "itens" %>
              <h5 class="text-center text-md-start">
                <strong><%= OrderProduct.model_name.human(count:2) %>:</strong>
              </h5>

              <div class="d-flex flex-column flex-md-row
              justify-content-between align-items-center text-center">
                <% order.order_products.each do |item| %>
                <div class="mx-2 p-2 border custom-card">
                  <div>
                    <h5><%= item.product_name %><h6>
                  </div>
                  <div class="d-flex flex-column flex-wrap justify-content-center align-items-center">
                    <p class="my-0"><%= t("texts.order_product.qty")%>: <%= item.quantity %></p>
                    <p class="my-0"><%= t("texts.order_product.unit_value")%>: <%= number_to_currency item.product_price %></p>
                    <p class="my-0"><%= t("texts.order_product.total")%>: <%= number_to_currency (item.quantity*item.product_price) %></p>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%# BOTOES %>
      <div class="d-flex flex-column flex-md-row
        justify-content-between align-items-center">
        
        <% if action_name != "show" %>
        <button class="btn btn-danger mt-2">
          <%= link_to t('actions.order.show'), order, class:"text-decoration-none text-white" %>
        </button>
        <button class="btn btn-danger mt-2">
          <%= link_to t('actions.order.edit'), edit_order_path(order), class:"text-decoration-none text-white" %>
        </button>
        <button class="btn btn-secondary mt-2">
          <%= link_to t('actions.order.delete'),order_path(order), method: :delete, class:"text-decoration-none text-white" %>
        </button>
        <% end %>
        
      </div>

    </div>
</div>
