<div>
  <div>
    <% if notice.present? %>
      <p id="notice"><%= notice %></p>
    <% end %>

    <%= render @order %>

    <%= link_to t("actions.order.edit"), edit_order_path(@order) %>
    <div>
      <%= button_to t("actions.order.delete"), order_path(@order), method: :delete %>
    </div>
    <%= link_to t("actions.order.back"), orders_path %>
  </div>
</div>
