<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Employee:</strong>
    <%= order.employee.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Client name:</strong>
    <%= order.client_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Table number:</strong>
    <%= order.table_number %>
  </p>

  <div class="my-5">
    <strong class="block font-medium mb-1">Product Orders:</strong>
    <% order.order_products.each do |item| %>
      <p class='my-3'><%= item.product_name %> - Qtd: <%= item.quantity %> - Valor Unitário: <%= number_to_currency item.product_price %> - Total: <%= number_to_currency (item.quantity*item.product_price) %></p>
    <% end %>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this order", order, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this order', edit_order_path(order), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Destroy this order',order_path(order), method: :delete, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
