<div>

  <div>
    <div>
      <%= image_tag("fastmenu.png") %>      
      <h2><%= t("forms.login.title")%></h2>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%- f.hidden_field :remeber, value: true %>
      <div>
        <div>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div>
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>

      <div>
        <div>
        <% if devise_mapping.rememberable? %>
          <div>
            <%= f.check_box :remember_me %>
            <%= f.label t("forms.login.remember_me") %>
          </div>
        <% end %>
        </div>

        <div>
          <%= render "devise/shared/links" %>          
        </div>
      </div>

      <div>
        <%= f.submit t("forms.login.signin") %>        
      </div>
    <% end %>
  </div>
</div>


