<div id="<%= dom_id category %>">
  <p >
    <strong><%= Category.human_attribute_name(:title)%></strong>
    <%= category.title %>
  </p>

  <% if action_name != "show" %>
    <%= link_to t("actions.category.show"), category %>
    <%= link_to t("actions.category.edit"), edit_category_path(category) %>
    <hr>
  <% end %>
</div>
