<div>
  <div>
    <% if notice.present? %>
      <p id="notice"><%= notice %></p>
    <% end %>

    <%= render @category %>

    <%= link_to t("actions.category.edit"), edit_category_path(@category) %>
    <div class="inline-block ml-2">
      <%= button_to t("actions.category.delete"), category_path(@category), method: :delete %>
    </div>
    <%= link_to t("actions.category.back"), categories_path %>
  </div>
</div>
