<%= form_with(model: product, class: "contents") do |form| %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4 %>
  </div>

  <div>
    <%= form.label :category_id %>
    <%= form.select :category_id, Category.all.map{ |v| [v.title, v.id] } %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :preparation_time %>
    <%= form.number_field :preparation_time %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
