<div id="<%= dom_id product %>">
  <p >
    <strong><%= Product.human_attribute_name(:name) %></strong>
    <%= product.name %>
  </p>

  <p>
    <strong><%= Product.human_attribute_name(:description) %></strong>
    <%= product.description %>
  </p>

  <p>
    <strong><%= Product.human_attribute_name(:category_id) %></strong>
    <%= product.category_id %>
  </p>

  <p>
    <strong><%= Product.human_attribute_name(:price) %></strong>
    <%= product.price %>
  </p>

  <p>
    <strong><%= Product.human_attribute_name(:preparation_time) %></strong>
    <%= product.preparation_time %>
  </p>
  <% if (action_name != "show") && (action_name != "destroy") %>
    <%= link_to t("actions.product.show"), product %>
    <%= link_to t("actions.product.edit"), edit_product_path(product) %>
    <hr>
  <% end %>
</div>
