<div>
  <div>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @product.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <% if notice.present? %>
      <p id="notice"><%= notice %></p>
    <% end %>
    <%= render @product %>

    <%= link_to t("actions.product.edit"), edit_product_path(@product) %>
    <div <%= dom_id(@product)%>">
      <% if @product.order_products_count > 0 %>
        <%= link_to @product.status, toggle_product_path(@product) %>
      <% else %>
        <%= button_to t("actions.product.delete"), product_path(@product), method: :delete %>
      <% end %>
    </div>
    <%= link_to t("actions.product.back"), products_path %>
  </div>
</div>
