<%= form_with(model: order, class: "contents") do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :client_name %>
    <%= form.text_field :client_name %>
  </div>

  <div>
    <%= form.label :table_number %>
    <%= form.number_field :table_number %>
  </div>

  <%= form.fields_for :order_products do |f|%>
    <div>
      <%= f.hidden_field :product_id, value: f.object.product.id %>
      <p><b>Item:</b> <%= f.object.product.name %> </p>
      <p><b><%= t("texts.order_product.unit_value")%>:</b><%= number_to_currency f.object.product.price %> </p>
      <%= f.label :quantity %>
      <%= f.number_field :quantity %>
    </div>
  <% end %>
    
  <div class="inline">
    <%= form.submit %>
  </div>
<% end %>
